# Ignore Gradle project-specific cache directory
.gradle/
.settings/
.idea/
.classpath
.project
.factorypath

# Ignore Gradle build output directory
build
bin

# Compiled gresource
src/main/resources/resources.gresource

